body {
    margin: 0;
    background-color: black;
    font-family: 'Arial', sans-serif;
    background-image: url("img\ back.PNG");
    background-size: 100%;
    background: flex;
}

.navbar {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar img {
    max-height: 57px;
    margin: 0 0px;
}

.navbar .center-text {
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 1.5em;
    flex-grow: 1;
    text-align: center;
}
.alert{
    background-color: white;
    overflow: hidden;
    display: flex;
    height: 2em;

}
.text{
    border-radius: 2px;
     display: flex;
     align-items: center;
    color: white;
    font-size: 1.2em;
    text-align: left;
    background-color: red;
    font-weight:bold;
    padding: 1%;
}
.movingtext{
    display: flex;
    align-items: center;
        padding: 1%;
        font-weight: bold;
        color: red;
        white-space: nowrap;
         animation: moving 5s ease-in-out 0.5s infinite normal;
}
@keyframes moving {
from{
    transform: translateX(90vw);
}
to{
    transform: translateX(0%);
}
}
.image {
    border-radius:5px ;
   display: flex;
   margin: auto;
    height: 50vw;
    width: 80vw;
    background-image: url(1.jpg);
    background-size: 100% 100%;
    animation: changeImage 44s ease-in infinite;
}

@keyframes changeImage {
    0% {
        background-image: url(1.JPG);
    }
    10% {
        background-image: url(2.JPG);
    }
    20% {
        background-image: url(3.jpg);
    }
    30% {
        background-image: url(4.jpg);
    }
    40% {
        background-image: url(5.jpg);
    }
    50% {
        background-image: url(6.JPG);
    }
    60% {
        background-image: url(7.jpg);
    }
    70% {
        background-image: url(8.jpg);
    }
    80% {
        background-image: url(9.JPG);
    }
    90% {
        background-image: url(10.jpg);
    }
    100% {
        background-image: url(11.jpg);
    }
}
.registration{
    text-shadow: #242222;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    margin: 20px 10px -20px 20px;
    text-align: center;
}
.col-md-6mn{
    text-align: center;
}
.col-md-6mn label{
    color: white;
    margin-left: 6%;
   text-align: center;
    
}
.detail {
    background-color: #242222;
    margin: 10% 15%;
    height: 30rem;
    width: 70%;
    display: grid;
}

.heading {
    position: relative;
    text-align: left;
    background-color: #242222;
    color: white;
    height: 100%;
    text-align: center;
}
